#document .content .checkbox {
	margin-right: 12px;
}

#document .content .checkbox, #document .content label, #document .content .submit {
	cursor: pointer;
}

#document .content .divider {
	border: 1px solid #ccc;
}

#document .content .field p {
	padding: 6px 0;
}

#document .content .field ul, #document .content .field ol {
	padding-left: 24px;
}

#document .content .main {
	width: 40%;
}

#document .content .expand, #document .content .collapse {
	background: no-repeat 5px 8px;
}

#document .content .expand {
	background-image: url('../img/expand.gif');
}

#document .content .collapse {
	background-image: url('../img/collapse.gif');
}